[submodule "Azavea.Open.Geocoding"]
	path = Azavea.Open.Geocoding
	url = git://omgeo.git.sourceforge.net/gitroot/omgeo/Azavea.Open.Geocoding
[submodule "Azavea.Open.Geocoding.GeocoderUS"]
	path = Azavea.Open.Geocoding.GeocoderUS
	url = git://omgeo.git.sourceforge.net/gitroot/omgeo/Azavea.Open.Geocoding.GeocoderUS
[submodule "Azavea.Open.Geocoding.Google"]
	path = Azavea.Open.Geocoding.Google
	url = git://omgeo.git.sourceforge.net/gitroot/omgeo/Azavea.Open.Geocoding.Google
[submodule "Azavea.Open.Geocoding.Yahoo"]
	path = Azavea.Open.Geocoding.Yahoo
	url = git://omgeo.git.sourceforge.net/gitroot/omgeo/Azavea.Open.Geocoding.Yahoo
