[submodule "Azavea.Open.Common"]
	path = Azavea.Open.Common
	url = git://github.com/azavea/oatmealutils-common.git
[submodule "Azavea.Open.Reprojection"]
	path = Azavea.Open.Reprojection
	url = git://github.com/azavea/oatmealutils-reprojection.git
